CONFIG VCCAUX=3.3;
#
NET "ClkIn" TNM_NET = ClkIn;
#
TIMESPEC TS_ClkIn = PERIOD ClkIn 20.833 ns HIGH 50%;    #  48.0000 MHz
#
NET "Clk" TNM_NET = Clk;
TIMESPEC TS_Clk   = PERIOD Clk TS_ClkIn * 1 HIGH 50%;           #  48.0000 MHz
##
#NET "Clk90" TNM_NET = Clk90;
#TIMESPEC TS_Clk90 = PERIOD Clk90 TS_Clk * 1 PHASE 5.2083 ns;    #  48.0000 MHz
##
INST "ClkGen" AREA_GROUP=ClkGen;
AREA_GROUP ClkGen RANGE=SLICE_X24Y58:SLICE_X26Y63;
#
INST "CPU" AREA_GROUP=CPU;
AREA_GROUP CPU RANGE=SLICE_X8Y32:SLICE_X23Y53;
#
INST "uPgm/Mram_BRAM"   LOC=RAMB16_X0Y5;
INST "IDEC/Mram_BRAM"   LOC=RAMB16_X0Y6;
#
INST "uPgm" AREA_GROUP=uPgm;
AREA_GROUP uPgm RANGE=SLICE_X6Y42:SLICE_X7Y53;
#
INST "IDEC" AREA_GROUP=IDEC;
AREA_GROUP IDEC RANGE=SLICE_X4Y42:SLICE_X5Y53;
#
INST "RAM_A/Mram_BRAM8" LOC=RAMB16_X0Y3;
INST "RAM_A/Mram_BRAM7" LOC=RAMB16_X0Y2;
INST "RAM_A/Mram_BRAM6" LOC=RAMB16_X0Y1;
INST "RAM_A/Mram_BRAM5" LOC=RAMB16_X0Y0;
INST "RAM_A/Mram_BRAM4" LOC=RAMB16_X1Y3;
INST "RAM_A/Mram_BRAM3" LOC=RAMB16_X1Y2;
INST "RAM_A/Mram_BRAM2" LOC=RAMB16_X1Y1;
INST "RAM_A/Mram_BRAM1" LOC=RAMB16_X1Y0;
#
INST "RAM_A" AREA_GROUP=RAM_A;
AREA_GROUP RAM_A RANGE=SLICE_X4Y30:SLICE_X5Y31;
#
INST "RAM_B/Mram_BRAM4" LOC=RAMB16_X1Y7;
INST "RAM_B/Mram_BRAM3" LOC=RAMB16_X1Y6;
INST "RAM_B/Mram_BRAM2" LOC=RAMB16_X1Y5;
INST "RAM_B/Mram_BRAM1" LOC=RAMB16_X1Y4;
#
INST "RAM_B" AREA_GROUP=RAM_B;
AREA_GROUP RAM_B RANGE=SLICE_X24Y30:SLICE_X25Y31;
#
INST "ROM/Mram_BRAM"    LOC=RAMB16_X0Y4;
#
INST "ROM" AREA_GROUP=ROM;
AREA_GROUP ROM RANGE=SLICE_X6Y30:SLICE_X7Y31;
#
INST "COM_A" AREA_GROUP=COM_A;
AREA_GROUP COM_A RANGE=SLICE_X16Y8:SLICE_X23Y31;
#
INST "COM_B" AREA_GROUP=COM_B;
AREA_GROUP COM_B RANGE=SLICE_X8Y8:SLICE_X15Y31;
#
INST "SPI" AREA_GROUP=SPI;
AREA_GROUP SPI RANGE=SLICE_X28Y8:SLICE_X31Y29;
#
################################################################################
#
#   Pin Placements
#
################################################################################
#
NET "nRst"          LOC = "P83" | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "ClkIn"         LOC = "P88" | IOSTANDARD = "LVCMOS33";
##
#NET "nCE0"          LOC = "P73" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
#NET "nOE"           LOC = "P78" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#NET "nWE"           LOC = "P90" | IOSTANDARD = "LVCMOS33" | SLEW = "FAST";
#
#NET "XA<0>"         LOC = "P37" | IOSTANDARD = "LVCMOS33";
#
#NET "A<15>"         LOC = "P84" | IOSTANDARD = "LVCMOS33";
#NET "A<14>"         LOC = "P40" | IOSTANDARD = "LVCMOS33";
#NET "A<13>"         LOC = "P93" | IOSTANDARD = "LVCMOS33";
#NET "A<12>"         LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "A<11>"         LOC = "P99" | IOSTANDARD = "LVCMOS33";
#NET "A<10>"         LOC = "P77" | IOSTANDARD = "LVCMOS33";
#NET "A<9>"          LOC = "P98" | IOSTANDARD = "LVCMOS33";
#NET "A<8>"          LOC = "P94" | IOSTANDARD = "LVCMOS33";
#NET "A<7>"          LOC = "P43" | IOSTANDARD = "LVCMOS33";
#NET "A<6>"          LOC = "P44" | IOSTANDARD = "LVCMOS33";
#NET "A<5>"          LOC = "P49" | IOSTANDARD = "LVCMOS33";
#NET "A<4>"          LOC = "P50" | IOSTANDARD = "LVCMOS33";
#NET "A<3>"          LOC = "P52" | IOSTANDARD = "LVCMOS33";
#NET "A<2>"          LOC = "P56" | IOSTANDARD = "LVCMOS33";
#NET "A<1>"          LOC = "P57" | IOSTANDARD = "LVCMOS33";
#NET "A<0>"          LOC = "P59" | IOSTANDARD = "LVCMOS33";
#
#NET "DB<7>"         LOC = "P72" | IOSTANDARD = "LVCMOS33";
#NET "DB<6>"         LOC = "P71" | IOSTANDARD = "LVCMOS33";
#NET "DB<5>"         LOC = "P70" | IOSTANDARD = "LVCMOS33";
#NET "DB<4>"         LOC = "P65" | IOSTANDARD = "LVCMOS33";
#NET "DB<3>"         LOC = "P64" | IOSTANDARD = "LVCMOS33";
#NET "DB<2>"         LOC = "P62" | IOSTANDARD = "LVCMOS33";
#NET "DB<1>"         LOC = "P61" | IOSTANDARD = "LVCMOS33";
#NET "DB<0>"         LOC = "P60" | IOSTANDARD = "LVCMOS33";
##
NET "TxD_RS232_A"   LOC = "P33" | IOSTANDARD = "LVCMOS33";
NET "RxD_RS232_A"   LOC = "P34" | IOSTANDARD = "LVCMOS33";
NET "nRTS_RS232_A"  LOC = "P32" | IOSTANDARD = "LVCMOS33";
NET "nCTS_RS232_A"  LOC = "P31" | IOSTANDARD = "LVCMOS33";

NET "TxD_RS485_A"   LOC = "P35" | IOSTANDARD = "LVCMOS33";
NET "RxD_RS485_A"   LOC = "P39" | IOSTANDARD = "LVCMOS33";

NET "DE_RS485_A"    LOC = "P36" | IOSTANDARD = "LVCMOS33";
#
NET "TxD_RS232_B"   LOC = "P20" | IOSTANDARD = "LVCMOS33";
NET "RxD_RS232_B"   LOC = "P21" | IOSTANDARD = "LVCMOS33";
NET "nRTS_RS232_B"  LOC = "P19" | IOSTANDARD = "LVCMOS33";
NET "nCTS_RS232_B"  LOC = "P7"  | IOSTANDARD = "LVCMOS33";

NET "TxD_RS485_B"   LOC = "P24" | IOSTANDARD = "LVCMOS33";
NET "RxD_RS485_B"   LOC = "P29" | IOSTANDARD = "LVCMOS33";

NET "DE_RS485_B"    LOC = "P23" | IOSTANDARD = "LVCMOS33";
#
NET "nCSO<1>"       LOC = "P28" | IOSTANDARD = "LVCMOS33";
NET "nCSO<0>"       LOC = "P27" | IOSTANDARD = "LVCMOS33";
NET "SCK"           LOC = "P53" | IOSTANDARD = "LVCMOS33";
NET "MOSI"          LOC = "P46" | IOSTANDARD = "LVCMOS33";
NET "MISO"          LOC = "P51" | IOSTANDARD = "LVCMOS33";
#
#NET "nWP"           LOC = "P68" | IOSTANDARD = "LVCMOS33" | PULLUP;
##
